[production]
and_chr 98
and_uc 12.12
chrome 97
chrome 96
edge 97
edge 96
firefox 96
firefox 95
ios_saf 15.2-15.3
ios_saf 15.0-15.1
ios_saf 14.5-14.8
ios_saf 14.0-14.4
ios_saf 12.2-12.5
op_mini all
opera 82
safari 15.2-15.3
safari 15.1
safari 14.1
samsung 16.0
